@media (max-width: 680px) {
  body {
    overflow-x: hidden;
  }
  .green-background {
    width: 100vw;
    height: 100vh;
    background: #3cd88d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* 상대적 위치 설정 */
  }

  .copycontainer_default {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    justify-content: space-between; /* 내부 요소 사이에 공간을 벌립니다. */
    align-items: center;
    position: absolute;
    top: 50vh;
    width: 100vw;
  }

  /* text-content 스타일 */
  .text-content {
    flex-grow: 1; /* 텍스트 컨테이너가 남은 공간을 모두 차지하도록 설정 */
  }

  .home-buttoncontainer {
    flex-shrink: 0;
    display: flex;
    gap: 3.33333333333333vw; /* 버튼 사이의 간격을 12px로 설정 */
    margin-top: 2.5vh;
  }

  .custom-button1 {
    /* 원하는 버튼 스타일을 여기에 추가하세요 */
    background: var(--grayscale095, #252525);
    color: #fff;

    border: none;
    width: 43.33333333333333vw;
    height: 8.92857142857143vh;
    border-radius: 8px;

    display: flex;
    padding: 16px 22px;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .custom-button1-text {
    color: var(--grayscale000, #fff);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.3%; /* 18.102px */
    cursor: pointer;
    text-decoration: none;
  }
  .custom-button2 {
    width: 43.33333333333333vw;
    height: 8.92857142857143vh;
    border-radius: 8px;
    border: 1px solid #06c368;
    color: #06c368;
    background: #fff;
    gap: 10px;
    display: flex;
    padding: 16px 22px;
    cursor: pointer;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding: 16px 22px;
    align-items: center;
    gap: 10px;
    justify-content: center;

    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.3%; /* 18.102px */
  }

  /* 이미지 스타일 */

  .desktop-home-text1 {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.8%; /* 43.33px */
    letter-spacing: -2.5px;
  }

  p {
    margin: 0px;
  }
  .lowest-price-text {
    color: var(--yellowgreen020, #e4ffcf);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.8%;
    letter-spacing: -2.5px;

    text-align: left;
  }
  .desktop-home-text2 {
    color: var(--grayscale000, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-top: 2.5vh;
  }

  /*1page*/
}
