/*2page*/
@media (max-width: 680px) {
  .page2maintext {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-top: 4.10714285714286vh;
  }
  .reviews {
    background: linear-gradient(180deg, #f5f5f5 0%, #b9b9b9 100%);
    box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.5);
    width: 100vw;

    display: flex;
    flex-direction: row; /* main 방향 가로 배치 */
    justify-content: space-between; /* 내부 요소 사이에 공간을 벌립니다. */
    align-items: flex-start;
    height: 67.5vh;
    position: relative; /* 부모 요소에 대해 position: relative; 설정 */
    margin-top: 4.28571428571429vh;
    border-radius: 0px;
  }
  .black-background {
    width: 100vw;
    height: auto;
    background: rgba(37, 37, 37, 1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
  }
  .review1 {
    background: rgba(255, 255, 255, 1);
    width: 51.28583333333333vw;
    height: 22.02142857142857vh;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 8px 8px;
    z-index: 1;
    .review1_name {
      color: #252525;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Noto Sans KR;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.5px;
      opacity: 0.6;
    }
    .review1_amount {
      color: #252525;
      font-feature-settings: "clig" off, "liga" off;

      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      border-radius: 5px;
      background: #5aeba5;
      box-sizing: border-box;
      position: relative; /* 부모 요소를 relative로 설정합니다. */
      width: 82px;
      height: 3.39285714285714vh;
      flex-shrink: 0;
      padding: 0 0.55555555555556vw 0 0.55555555555556vw;
    }

    .review1protect {
      width: 51.28583333333333vw;
      height: 12.36428571428571vh;
      flex-shrink: 0;
    }
    .review1_line1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.74285714285714vh 2.95277777777778vw 0 3.03333333333333vw;
    }
    .review1score {
      width: 6.66388888888889vw;
      height: 2.85714285714286vh;
    }
    .review1_line2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.43571428571429vh 2.675vw 1.67857142857143vh 3.03333333333333vw;
    }
  }

  .review2 {
    background: rgba(255, 255, 255, 1);
    width: 46.77222222222222vw;
    height: 22.02142857142857vh;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.18);
    border-radius: 0px 0px 8px 8px;

    .review2_name {
      color: #252525;
      font-feature-settings: "clig" off, "liga" off;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 144.8181818181818%;
      letter-spacing: 0.5px;
      opacity: 0.3;
    }
    .review2_line1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.82857142857143vh 2.59722222222222vw 0 2.88333333333333vw;
    }
    .review2_line2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.43571428571429vh 2.68333333333333vw 1.67857142857143vh
        2.88333333333333vw;
    }
    .review2_amount {
      color: #000;
      text-align: right;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Noto Sans KR;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.5px;
    }
    .review2score {
      width: 6.66388888888889vw;
      height: 2.85714285714286vh;
    }
    .review2protect {
      width: 46.77222222222222vw;
      height: 12.36428571428571vh;
      flex-shrink: 0;
    }
  }

  .revieweffect {
    position: absolute;
    width: 64.16666666666667vw;
    height: 43.03571428571429vh;

    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-color: transparent; /* 배경 색상 투명으로 설정 */
    overflow: hidden; /* 내부 내용을 넘치지 않도록 설정 */
    justify-content: space-between;
    align-items: center;
    display: flex; /* 내부 내용을 가로로 나열하기 위해 Flex 사용 */
    bottom: 0; /* 아래에 위치하도록 설정 */
  }

  .increasearrow1,
  .reviewmaineffect,
  .increasearrow2 {
    position: absolute;
    top: 50%; /* 상위 컨테이너의 세로 중앙에 배치 */
    transform: translateY(-50%);
    display: none;
  }

  .review_effect_mobile {
    position: absolute;
    top: 50%; /* 상위 컨테이너의 세로 중앙에 배치 */
    transform: translateY(-50%);
    width: 64.16666666666667vw;
    height: 43.03571428571429vh;
    z-index: 3; /*  */
  }

  .increasearrow1 {
    left: 0%;
    width: 145px;
    height: 430px;
  }

  .reviewmaineffect {
    width: 556px;
    height: 508px;
    z-index: 3; /*  */
  }

  .increasearrow2 {
    right: 0%;
    top: 70%;
    width: 97px;
    height: 299px;
    z-index: 2;
  }
  .noReviewEffect {
    background: linear-gradient(
      180deg,
      #ababab 0%,
      rgba(179, 179, 179, 0.59375) 67.19%,
      rgba(220, 220, 220, 0) 100%
    );

    position: absolute;
    width: 31.66666666666667vw;
    height: 15.60892857142857vh; /* 이미지 높이에 따라 조절하세요 */

    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-color: transparent; /* 배경 색상 투명으로 설정 */
    overflow: hidden; /* 내부 내용을 넘치지 않도록 설정 */
    justify-content: center;
    padding-top: 17px;
    align-items: flex-start;
    display: flex; /* 내부 내용을 가로로 나열하기 위해 Flex 사용 */
    bottom: 0; /* 아래에 위치하도록 설정 */
    left: 62%; /* 왼쪽에 위치하도록 설정 */
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    opacity: 70%;
  }
  /*2pager*/
}
