@media (max-width: 680px) {
  .grey-background {
    width: 100%;
    height: auto;
    background: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    position: relative; /* 상대적 위치 설정 */
    padding: 0 0 8.57142857142857vh 0;
  }
  .page4maintext {
    color: #2f2f2f;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.3%; /* 72.408px */
    margin: 4.28571428571429vh 0 2.14285714285714vh 0;
    letter-spacing: 0.5px;
  }
}
