@media (max-width: 680px) {
  .grey-background {
    width: 100%;
    height: auto;
    background: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    position: relative; /* 상대적 위치 설정 */
    padding: 0 0 64px 0;
  }
  .page4maintext {
    color: #2f2f2f;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.3%; /* 72.408px */
    margin: 80px 0 24px 0;
  }
}
