@media (max-width: 680px) {
  .faq-section {
    margin: 1.42857142857143vh 0 0 0px;
    border: 1px solid #ccc;

    cursor: pointer;
    position: relative;
    width: 90vw;
    display: flex;
    border-radius: 13px;
    border: 1px solid #cdcdcd;
    background: #fff;
    padding: 3.57142857142857vh 3.88888888888889vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    box-sizing: border-box;
  }

  .faq-section .question {
    cursor: pointer; /* 추가: 커서 모양 변경 */
    color: #252525;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  /* 답변 표시 스타일 */
  .faq-section.expanded .answer {
    margin-top: 10px;
    display: block; /* 변경: 확장 시에 display를 block으로 변경 */
  }
  .answer {
    color: #252525;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
  }
  .FAQ_question {
    display: flex;
    gap: 10px;
  }

  .question-prefix {
    color: #21d67f;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-right: 2.22222222222222vw;
  }
}
