@media (max-width: 680px) {
  .white_background {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    position: relative; /* 상대적 위치 설정 */
    object-fit: contain;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
    overflow: hidden; /* 배경 경계 밖의 내용을 숨깁니다. */
    position: relative; /* 자식 요소의 위치를 조정하기 위해 relative로 설정합니다. */
    border: 1px solid #ccc; /* 연한 회색 테두리로 설정합니다. */
  }
  .inform_container {
    width: 100%;
    height: 13.92857142857143vh;

    display: flex;
    flex-direction: row; /* main 방향 가로 배치 */
    justify-content: space-between; /* 내부 요소 사이에 공간을 벌립니다. */
    align-items: flex-start;
    position: relative; /* 부모 요소에 대해 position: relative; 설정 */
  }
  .inform_Text1 {
    color: #3cd88d;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .inform_Text2 {
    color: #3cd88d;
    font-family: Noto Sans KR;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .totalContainer {
    margin: 3.57142857142857vh 4.16666666666667vw 7.5vh 6.12222222222222vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - (4.16666666666667vw + 6.12222222222222vw));
    height: calc(100% - (3.57142857142857vh + 7.5vh));
    margin-bottom: 42px;
  }

  .row {
    width: 484px;
    height: fit-content;
    display: flex;
    flex-direction: row; /* main 방향 가로 배치 */
    justify-content: normal; /* 내부 요소 사이에 공간을 벌립니다. */
    align-items: flex-start; /* 세로 중앙 정렬 */
    row-gap: 22px; /* 세로 간격을 25px로 설정 */
    margin-bottom: 18px;
    box-sizing: border-box;
  }

  .nameError,
  .emailError,
  .phoneError {
    color: red;
    font-size: 12px;
  }
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .inform-button1 {
    /* 원하는 버튼 스타일을 여기에 추가하세요 */
    background: var(--grayscale095, #252525);
    color: #fff;

    border: none;
    width: 77.77777777777778vw;
    height: 8.92857142857143vh;
    border-radius: 8px;
    display: flex;
    padding: 16px 22px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 14px;
  }
  .inform-button1-text {
    color: var(--grayscale000, #fff);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.3%; /* 18.102px */
    cursor: pointer;
    text-decoration: none;
  }
  .title_style {
    color: #252525;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }
  /* 위에까지 사용 */
  .inform .inform_greencontainer {
    width: 374px;
    height: 667px;
    flex-shrink: 0;
    border-radius: 40px 0px 0px 40px;
    background: #3cd88d;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column; /* main 방향 가로 배치 */
    justify-content: center; /* 내부 요소 사이에 공간을 벌립니다. */
    align-items: center;
  }

  .inform_maincontainer {
    margin: 117px 245px 192px 93px;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column; /* main 방향 가로 배치 */
    justify-content: center; /* 내부 요소 사이에 공간을 벌립니다. */
    align-items: flex-start;
    box-sizing: border-box;
  }

  .textField_name {
    width: 29.44444444444444vw;
    height: 5.35714285714286vh;
    box-sizing: border-box;
    background: rgba(245, 245, 245, 1);
    border: 1px solid transparent; /* 투명한 border */
    border-radius: 4px;
    outline: none; /* 포커스 했을 때 outline 제거 */
    transition: border-color 0.3s; /* transition 효과 추가 */
    color: black;
    font-size: 13px;
    padding: 5px;
    font-weight: 400;
    margin-right: 5px;
  }
  .textField_name:focus,
  .textField_phone:focus,
  .textField_email:focus,
  .textField_detail:focus {
    border-color: green; /* 포커스시 border 색상을 green으로 변경 */
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(245, 245, 245, 1) inset !important;
  }
  .name_combo {
    box-sizing: border-box;
    width: calc(100vw - (4.16666666666667vw + 6.12222222222222vw));
  }

  .textField_phone {
    width: 100%;
    height: 35px;
    display: flex;
    background: rgba(245, 245, 245, 1);
    border: 1px solid transparent; /* 투명한 border */
    border-radius: 4px;
    outline: none; /* 포커스 했을 때 outline 제거 */
    transition: border-color 0.3s; /* transition 효과 추가 */
    box-sizing: border-box;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
  }

  .phone_combo {
    flex-direction: row;
    display: flex;
    align-items: center;
    column-gap: 3px;
    box-sizing: border-box;
    width: 43.05555555555556vw;
  }

  .textField_email {
    /* 최대치로 늘리기 위해 100%로 설정 */
    height: 35px;
    width: 100%;
    display: flex;
    background: rgba(245, 245, 245, 1);
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
  }

  .email_combo {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: calc(100vw - (4.16666666666667vw + 6.12222222222222vw));
    box-sizing: border-box;
  }

  .textField_detail {
    width: calc(100vw - (4.16666666666667vw + 6.12222222222222vw));
    height: 186px;
    flex-shrink: 0;
    display: flex;
    background: rgba(245, 245, 245, 1);
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;

    color: black;
  }
  .back_arrow {
    cursor: pointer;
    height: 28px;
  }
  .kite {
    position: absolute;
    bottom: -51.17px;
    right: 31px;
  }
  .popup {
    position: fixed;
    border-radius: 5px;

    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    font-size: 14px;
  }

  .popup button {
    margin-top: 10px;
    margin-left: 120px;
    background-color: #7ec9a4;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }

  .popup button:hover {
    background-color: #3cd88d;
  }
  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 다른 요소 위에 표시 */
  }

  .popup_main {
    margin-top: 5px;
    font-size: 13px;
    text-align: left;
    opacity: 0.7;
  }
}
