@media (min-width: 681px) {
  /*1page*/

  .green-background {
    width: 100%;
    height: 866px;
    background: #3cd88d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* 상대적 위치 설정 */
  }

  /* container 스타일 */
  .copycontainer_default {
    width: 1216px;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    justify-content: space-between; /* 내부 요소 사이에 공간을 벌립니다. */
    align-items: flex-start;
  }

  /* text-content 스타일 */
  .text-content {
    flex-grow: 1; /* 텍스트 컨테이너가 남은 공간을 모두 차지하도록 설정 */
  }

  .home-buttoncontainer {
    flex-shrink: 0;
    display: flex;
    gap: 12px; /* 버튼 사이의 간격을 12px로 설정 */
    margin-top: 39px;
  }

  .custom-button1 {
    /* 원하는 버튼 스타일을 여기에 추가하세요 */
    background: var(--grayscale095, #252525);
    color: #fff;

    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding: 19px 22px;
    align-items: flex-start;
    color: var(--grayscale000, #fff);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.3%; /* 25.86px */
    width: hug(141px);
    height: (64px);
    font-family: Noto Sans KR;
  }
  .custom-button1-text {
    color: var(--grayscale000, #fff);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.3%; /* 25.86px */
    cursor: pointer;
    text-decoration: none;
  }
  .custom-button2 {
    width: Hug (141px);
    height: Hug (64px);
    gap: 10px;
    display: flex;
    padding: 19px 22px;
    align-items: flex-start;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #06c368;
    background: #fff;
    color: #06c368;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.3%; /* 25.86px */
    font-family: Noto Sans KR;
  }

  .desktop-home-text1 {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;

    font-size: 71px;
    font-style: normal;
    font-weight: 700;
    line-height: 87.9px;
    letter-spacing: -2.5px;
  }

  p {
    margin: 0px;
  }
  .lowest-price-text {
    color: var(--yellowgreen020, #e4ffcf);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 71px;
    font-style: normal;
    font-weight: 700;
    line-height: 87.9px;
    letter-spacing: -2.5px;

    text-align: left;
  }
  .desktop-home-text2 {
    color: var(--grayscale000, #fff);
    font-feature-settings: "clig" off, "liga" off;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-top: 28px;
  }
  /*1page*/
}

.main_human1 {
  position: absolute; /* 절대적 위치 설정 */
  top: 0;

  /* 미디어 쿼리를 사용하여 right 속성 조절 */
  @media (min-width: 1592px) {
    right: 8vw; /* vw가 1440 초과인 경우 */
  }

  @media (min-width: 1395px) and (max-width: 1591px) {
    right: 7vw; /* vw가 680 이상 1440 이하인 경우 */
    top: 8%;
    width: 50vw;
    max-width: 934px;
  }

  @media (min-width: 681px) and (max-width: 1394px) {
    right: 0%;
    width: 60vw;
    top: 9%;
    min-width: 741px;
  }
  @media (max-width: 680px) {
    display: none;
  }
}

.main_human2 {
  display: none;
  @media (max-width: 500px) {
    position: absolute; /* 절대적 위치 설정 */
    width: 100vw;
    height: 53.21428571428571vh;
    top: 3%;
    right: 4%;
    object-fit: cover;
    display: block;
  }
  @media (min-width: 501px) and (max-width: 680px) {
    position: absolute; /* 절대적 위치 설정 */
    width: 80vw;
    height: 53.21428571428571vh;
    top: 3%;
    right: 12%;
    object-fit: cover;
    display: block;
  }
}
