/*1page*/

.green-background {
  width: 100%;
  height: 866px;
  background: #3cd88d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 상대적 위치 설정 */
}

/* container 스타일 */
.copycontainer_default {
  width: 1216px;
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  justify-content: space-between; /* 내부 요소 사이에 공간을 벌립니다. */
  align-items: flex-start;
}

/* text-content 스타일 */
.text-content {
  flex-grow: 1; /* 텍스트 컨테이너가 남은 공간을 모두 차지하도록 설정 */
}
.totalcontent {
  width: auto;
  height: 377px;
  flex-shrink: 0;
}
.home-buttoncontainer {
  flex-shrink: 0;
  display: flex;
  gap: 12px; /* 버튼 사이의 간격을 12px로 설정 */
}

.custom-button1 {
  /* 원하는 버튼 스타일을 여기에 추가하세요 */
  background: var(--grayscale095, #252525);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  padding: 19px 22px;
  align-items: flex-start;
  color: var(--grayscale000, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 129.3%; /* 25.86px */
  width: Hug (141px);
  height: Hug (64px);
  font-family: Noto Sans KR;
}

.custom-button2 {
  width: Hug (141px);
  height: Hug (64px);
  gap: 10px;
  display: flex;
  padding: 19px 22px;
  align-items: flex-start;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #06c368;
  background: #fff;
  color: #06c368;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 129.3%; /* 25.86px */
  font-family: Noto Sans KR;
}

/* 이미지 스타일 */
.image {
  position: absolute; /* 절대적 위치 설정 */

  top: 0;
  right: 0; /* 오른쪽 상단에 배치 */
}
.desktop-home-text1 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;

  font-size: 71px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.9px;
  letter-spacing: -2.5px;
}

p {
  margin: 0px;
}
.lowest-price-text {
  color: var(--yellowgreen020, #e4ffcf);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 71px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.9px;
  letter-spacing: -2.5px;

  text-align: left;
}
.desktop-home-text2 {
  color: var(--grayscale000, #fff);
  font-feature-settings: "clig" off, "liga" off;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}
/*1page*/
