@media (min-width: 681px) {
  /*2page*/

  .page2maintext {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-top: 56px;
  }
  .reviews {
    border-radius: 108px;
    background: linear-gradient(180deg, #f5f5f5 0%, #b9b9b9 100%);
    box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.5);
    width: 1216px;
    display: flex;
    flex-direction: row; /* main 방향 가로 배치 */
    justify-content: center; /* 내부 요소 사이에 공간을 벌립니다. */
    align-items: flex-start;
    height: 800px;
    position: relative; /* 부모 요소에 대해 position: relative; 설정 */
    margin-top: 32px;
  }
  .review1protect {
    width: 100%;
    height: 169px;
  }
  .review2protect {
    width: 100%;
    height: 169px;
  }
  .black-background {
    width: 100%;
    height: 1068px;
    background: rgba(37, 37, 37, 1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
  }

  .review1 {
    background: rgba(255, 255, 255, 1);
    width: 558px;
    height: 301px;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;

    .review1_amount {
      color: #252525;
      font-feature-settings: "clig" off, "liga" off;

      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0px;
      border-radius: 5px;
      background: #5aeba5;
      box-sizing: border-box;
      position: relative; /* 부모 요소를 relative로 설정합니다. */
      width: 181px;
      height: 35px;
      flex-shrink: 0;
      padding: 0px 8px 0px 10px;
    }
    .review1_line1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 30.39px 0 33px;
    }
    .review1_line2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30.39px 0 33px;
    }
  }
  .review1_name {
    color: #252525;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    opacity: 0.6;
  }

  .review2 {
    background: rgba(255, 255, 255, 1);
    width: 411px;
    height: 301px;
    margin-left: 37px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.18);
    .review2_line2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 22px 0 33px;
    }
    .review2_line1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 30.39px 0 33px;
    }
    .review2_amount {
      color: #000;
      text-align: right;
      font-feature-settings: "clig" off, "liga" off;

      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.5px;
    }
    .review2_name {
      color: #252525;
      font-feature-settings: "clig" off, "liga" off;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.5px;
      opacity: 0.3;
    }
  }

  .revieweffect {
    position: absolute;
    width: 556px;
    height: 508px; /* 이미지 높이에 따라 조절하세요 */

    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-color: transparent; /* 배경 색상 투명으로 설정 */
    overflow: hidden; /* 내부 내용을 넘치지 않도록 설정 */
    justify-content: space-between;
    align-items: center;
    display: flex; /* 내부 내용을 가로로 나열하기 위해 Flex 사용 */
    bottom: 0; /* 아래에 위치하도록 설정 */
    left: 7%; /* 왼쪽에 위치하도록 설정 */
  }

  .increasearrow1,
  .reviewmaineffect,
  .increasearrow2 {
    position: absolute;
    top: 50%; /* 상위 컨테이너의 세로 중앙에 배치 */
    transform: translateY(-50%);
  }

  .review_effect_mobile {
    display: none;
  }
  .increasearrow1 {
    left: 0%;
    width: 145px;
    height: 430px;
  }

  .reviewmaineffect {
    width: 556px;
    height: 508px;
    z-index: 3; /*  */
  }

  .increasearrow2 {
    right: 0%;
    top: 70%;
    width: 97px;
    height: 299px;
    z-index: 2;
  }
  .noReviewEffect {
    background: linear-gradient(
      180deg,
      #ababab 0%,
      rgba(179, 179, 179, 0.59375) 67.19%,
      rgba(220, 220, 220, 0) 100%
    );

    position: absolute;
    width: 313px;
    height: 185px; /* 이미지 높이에 따라 조절하세요 */

    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-color: transparent; /* 배경 색상 투명으로 설정 */
    overflow: hidden; /* 내부 내용을 넘치지 않도록 설정 */
    justify-content: center;
    padding-top: 17px;
    align-items: flex-start;
    display: flex; /* 내부 내용을 가로로 나열하기 위해 Flex 사용 */
    bottom: 0; /* 아래에 위치하도록 설정 */
    left: 62%; /* 왼쪽에 위치하도록 설정 */

    font-size: 28px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    opacity: 70%;
  }
  /*2pager*/
}
