.FAQfooterbackground {
  width: 100%;
  height: 2238px;
  background: rgba(37, 37, 37, 1);
  display: flex;
  justify-content: flex-start;
  flex-direction: column; /* 세로로 배치 */
  align-items: center;
  position: relative; /* 상대적 위치 설정 */
}

.reviewMarketBorder {
  border-radius: 108px;
  border-color: rgba(255, 255, 255, 1);
  background: #252525;
  width: 1216px;
  flex-direction: column; /* main 방향 가로 배치 */
  justify-content: center; /* 내부 요소 사이에 공간을 벌립니다. */
  height: 800px;
  position: relative; /* 부모 요소에 대해 position: relative; 설정 */
  border: 1px solid rgba(255, 255, 255, 0.3);
  align-items: center; /* 그리드 가운데 정렬 */
  box-sizing: border-box;
}

.page3maintext {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Noto Sans KR;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 129.3%; /* 46.548px */
  box-sizing: border-box;
}

.grid_container {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 88px 80px 0 80px;
  justify-content: center; /* 그리드 가운데 정렬 */
  align-items: center; /* 그리드 가운데 정렬 */
  grid-row-gap: 32px;
  grid-column-gap: 64px;
}

/* 화면 크기가 768px 이하일 때 그리드 열 개수 변경 */
@media (max-width: 1000px) {
  .grid_container {
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 변경 */
  }
}
.grid_item {
  /* 각 동그라미의 스타일 설정 */
  width: 160px; /* 동그라미의 너비 설정 */
  height: 160px; /* 동그라미의 높이 설정 */
}

.page3bottomtext {
  font-family: Noto Sans KR;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
